body.container{
    background-color: #4d97d8;
  }

.btn-close {
    margin: auto;
}

.border {
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
  }

  .container {
    padding-top: 20px;
  }
  
  .appointment.past {
    background-color: #999999;
    opacity: 0.8;
  }

  .appointment-list,
  .option-list,
  .appointment-form,
  .option-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #vote-form {
    margin-top: 10px;
    margin-bottom: 10px; /* Adjust the value according to your needs */
}

.comments {
  margin-bottom: 10px;
}

.dropdown {
  display: inline-block;
  position: absolute;
  margin-left: 25px;
}

.scrollbox {
  margin-top: 10px;
  margin-bottom: 10px;
  height:200px;
  border:1px solid #ccc;
  overflow:auto;
}