# ignore chace and output files in Oasencrawler
Semester-2/C++Files/Oasencrawler/.cache/
Semester-2/C++Files/Oasencrawler/.idea/
Semester-2/C++Files/Oasencrawler/out/
Semester-2/C++Files/Oasencrawler/compile_commands.json
Semester-2/C++Files/.cache/
Semester-2/C++Files/out/
Semester-2/C++Files/compile_commands.json


#VSCode Stuff
.vscode/
build/
