# ignore chace and output files in C++Files
**/out/
**/.cache/
**/.idea/
**/out/
**/compile_commands.json


# ignore chace and output files in PythonFiles
.mypy_cache/

# VSCode Stuff
.vscode/
build/
# Node
node_modules
**/node_modules/
/node_modules

# Jetbrains Stuff
**/.idea/**

