# ignore chace and output files in C++Files
**/out/
**/.cache/
**/.idea/
**/out/
**/compile_commands.json


# Python stiff 
.mypy_cache/
**/.ipynb_checkpoints/**

# VSCode Stuff
.vscode/
build/
# Node
node_modules
**/node_modules/
/node_modules

# Jetbrains Stuff
**/.idea/**


*.o
*.hi
