<div style="margin: 20px">
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <!--Email -->
    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input
          matInput
          placeholder="john.doe@gmail.com"
          formControlName="email"
          (blur)="updateErrorMessage('email')"
          required
        />
        <mat-error *ngIf="email?.invalid">{{ errorMessageEmail }}</mat-error>
      </mat-form-field>
    </div>
    <!-- Password -->
    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          (blur)="updateErrorMessage('password')"
          required
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="togglePasswordVisibility('password')"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="password?.invalid">{{ errorMessagePwd }}</mat-error>
      </mat-form-field>
    </div>
    <!-- Password 2 -->
    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Confirm your password</mat-label>
        <input
          matInput
          [type]="hide2 ? 'password' : 'text'"
          formControlName="password2"
          (blur)="updateErrorMessage('password2')"
          required
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="togglePasswordVisibility('password2')"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide2"
        >
          <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="password2?.invalid">{{ errorMessagePwd2 }}</mat-error>
        <mat-error
          *ngIf="password2?.hasError('mismatch') && password2?.touched"
        >
          {{ errorMessagePwd2 }}
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Firma -->
    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Company</mat-label>
        <input matInput [value]="company" disabled />
      </mat-form-field>
    </div>
    <!--Adresse -->
    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Address:</mat-label>
        <textarea
          matInput
          class="form-control"
          formControlName="addr"
        ></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>City:</mat-label>
        <input matInput class="form-control" formControlName="city" />
      </mat-form-field>
      <!-- Übergibt nur daten, wenn es sich um zahlen handeln -->
      <mat-form-field appearance="outline">
        <mat-label>PLZ:</mat-label>
        <input
          matInput
          type="number"
          id="myNumber"
          class="form-control"
          formControlName="plz"
        />
      </mat-form-field>
    </div>
    <button mat-raised-button type="submit">Register</button>
  </form>
</div>
