<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
  crossorigin="anonymous"
/>

<main class="main">
  <div class="content" style="margin: 20px">
    <h1>Hello, {{ title }}</h1>
    <div class="row"><app-login></app-login></div>
    <p>Congratulations! Your app is running. 🎉</p>
    <div class="row">
      <app-sign-up></app-sign-up>
    </div>
  </div>
</main>

<router-outlet />
