<div style="margin: 20px">
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <!-- Email -->
    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input
          matInput
          placeholder="john.doe@gmail.com"
          formControlName="email"
          (blur)="updateErrorMessage('email')"
          required
        />
        <mat-error *ngIf="email?.invalid">{{ errorMessageEmail }}</mat-error>
      </mat-form-field>
    </div>
    <!-- Password -->
    <div class="example-container">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          (blur)="updateErrorMessage('password')"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="togglePasswordVisibility()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="password?.invalid">{{ errorMessagePwd }}</mat-error>
      </mat-form-field>
    </div>

    <button mat-raised-button type="submit">Submit</button>
  </form>
</div>
